/* Helpers */

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


/* General elements */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	padding: 0;
	margin: 0;	
	font-family: 'Lato';
	background: #353b41;	
}


section {
	width: 100%;
	max-width: 600px;
	background: #F7F7F7;
	margin: 20px auto;
	box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	border-radius: 3px;
}

.content {
	padding: 20px 20px 0 20px;
}

h1, .description {
	margin: 0;
	font-weight: 300;
	color: #03A9F4;
	font-size: 30px;
}

.description {
	color: #9E9E9E;
	font-size: 24px;
}

.brollopssida { 
	color: #c3c3c3;
	text-align: center;
	font-size: 12px;
	margin-top: 20px;
}

.mail {
	margin-top: 5px;
	margin-left: 3px;
	font-weight: 300;
	display: block;
}

a {
	color: #393939;
	text-decoration: none;
}

a:hover { 
	color: #FF5722;
}

ul {
	float: right;
	list-style-type: none;
	margin: 0;
}

ul li a {
	display: block;
	margin-bottom: 6px;
	text-align: right;
	font-weight: 300;
}

img {
	width: 100%;
	display: block;
}
